.fontmont {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.fontgo {
  font-family: "Gorditas";
}
.txtc {
  text-decoration: line-through;
}
.slide {
  transform: translateX(-50%);
  transform: translateY(-50%);
}
.imagebutton::-webkit-scrollbar {
  display: none;
}
