@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primary: #58b310;
  --secondary: #333333;
  --body: #fff2e9;
  --neutral: #888888;
  --tert: #222222;
  --font-color-second: #848484;
  --primary-font: "Montserrat", sans-serif;
  --second-font: "Poppins", serif;
  --padding-inline: 5vw;
}

a {
  text-decoration: none;
  color: unset;
}

._3Ifyx {
  margin-top: 0.2rem !important;
  margin-bottom: 0rem !important;
  padding: 0em !important;
  font-size: 2em;
}
._3Ifyx input {
  border: none !important;
}
.css-13cymwt-control {
  border-width: 0.5px;
  border-color: rgba(223, 222, 222, 0.8) !important;
}

._3sXmFundefined {
  display: flex;
  gap: 10px;
  align-items: center;
}
